<section id="education" class="education">
  <div class="container" data-aos="fade-up">
    <br /><br /><br />
    <div class="container row justify-content-center">
      <div class="col-lg-6">
        <div class="container section-title text-center">
          <h2>Education</h2>
        </div>

        <div class="education-content py-2">
          <div class="education-item">
            <h5>
              Bachelor of Science in Information Technology with Areas of
              Specialization in Web Development
            </h5>
            <h6>2020 - Present (3rd year)</h6>
            <p><em>Holy Angel University</em></p>
            <ul>
              <li *ngFor="let item of achievements1">
                {{ item }}
              </li>
            </ul>
          </div>

          <div class="education-item">
            <h5>
              Senior High School Graduate<br />(Science, Technology, Engineering
              and Mathematics)
            </h5>
            <h6>2018-2020</h6>
            <p><em>Holy Angel University</em></p>
          </div>

          <div class="education-item">
            <h5>Junior High School Completer</h5>
            <h6>2014 - 2018</h6>
            <p><em>Don Antoñio Lee Chi Uan Integrated School</em></p>
            <ul>
              <li *ngFor="let item of achievements2">
                {{ item }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
