<section class="pagenotfound" id="pagenotfound">
  <div class="container">
    <br /><br />
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>

          <div class="contant_box_404">
            <h3 class="h2">Look like you're lost</h3>

            <p>The page you are looking for is not available!</p>

            <a routerLink=""
              ><button
                type="button"
                class="btn btn-success btn-lg px-4 me-md-2 rounded-pill"
              >
                Back to home
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
