<div>
  <!--NAVBAR-->
  <div class="header">
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        fixed-top
        mask-custom
        shadow-0
      "
    >
      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample07"
          aria-controls="navbarsExample07"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav me-auto">
            <li class="nav-item mx-2">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" routerLink="skills">Skills</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" routerLink="education">Education</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" routerLink="pagenotfound">Portfolio</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" routerLink="reference">Reference</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" routerLink="contact">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row mx-2">
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="bi bi-google"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
