<div>
  <!--HERO SECTION-->
  <div class="hero">
    <div class="container col-xxl-8 px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-3 py-0">
        <div class="col-10 col-sm-8 col-lg-6 mx-auto d-block">
          <img
            src="https://cdn.jsdelivr.net/gh/RockyBndc/angular-cv-2135-rapb@dacd78382d025b8523f207a651da155521009f84/src/app/assets/headerpic.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Headerpic"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h3 class="mx-5">Hi everyone, I'm</h3>
          <h1 class="display-5 fw-bold lh-1 mb-3 mx-5">Raquel Bondoc</h1>
          <h4 class="intro mx-5">Front-end Web Developer</h4>
          <div class="d-grid gap-2 d-md-flex justify-content-md-starst mx-5">
            <!--<a href="#skills"><button type="button" class="btn btn-success btn-lg px-4 me-md-2 rounded-pill">See my Skills</button></a>-->
            <a routerLink="skills"
              ><button
                type="button"
                class="btn btn-success btn-lg px-4 me-md-2 rounded-pill"
              >
                See my Skills
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
